
include AUTHORS.rst

include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include cibinfo/resources/paolo_models/cib_all_spectra_l3000.txt
include cibinfo/resources/lensing_HOD/*.txt

recursive-include cibinfo/ *.py
recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
